.App {
  background-color: cornflowerblue;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
}

div, p, h1, h2, h3, h4, a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

header {
  width: 100vw;
  border-bottom: solid burlywood;
}

nav {
  padding: 5px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a, a:visited {
  text-decoration: none;
  transition: all 0.2s;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 5px;
}

a:hover {
  color: crimson;
  border-bottom: 2px solid crimson;
}

h1 {
  margin: 0 auto;
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
